<template>
  <Card
    collection="dashboard"
    :items="dashboard"
    @notification="$emit('notification', $event)"
  />
</template>

<script>
import { db } from "@/db";
import Card from "@/components/Card";

export default {
  name: "Dashboard",
  components: { Card },
  data() {
    return {
      dashboard: [],
    };
  },
  firestore: {
    dashboard: db.collection("dashboard"),
  },
};
</script>
