<template>
  <Card
    collection="npcs"
    :items="npcs"
    @notification="$emit('notification', $event)"
  />
</template>

<script>
import { db } from "@/db";
import Card from "@/components/Card";

export default {
  name: "Npcs",
  components: { Card },
  data() {
    return {
      npcs: [],
    };
  },
  firestore: {
    npcs: db.collection("npcs"),
  },
};
</script>
