<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, i) in items" :key="i">
        <v-card :color="item.color" dark :min-width="cardWidth">
          <v-card-title class="headline">
            <v-row dense align="center" v-if="item.image !== undefined">
              <v-col lg="1" md="2">
                <v-avatar>
                  <img v-if="item.image" alt="Avatar" :src="item.image"
                /></v-avatar>
              </v-col>
              <v-col lg="4" md="3"> {{ item.title }} </v-col>
              <v-col lg="6" md="6">
                <v-overflow-btn
                  dense
                  filled
                  color="white"
                  hide-details
                  hide-selected
                  :items="players"
                  item-text="name"
                  v-model="item.assigned"
                  @change="updateAssigned(item.assigned, item.title)"
                >
                  <template v-slot:item="{ on, attrs, item }">
                    <v-list-item v-bind="attrs" v-on="on" light>
                      <!-- <v-avatar color="black"> -->
                      <v-list-item-icon>
                        <v-icon color="black" v-if="item.icon">
                          {{ item.icon }}
                        </v-icon>
                        <v-img
                          v-else-if="item.img"
                          :src="item.img"
                          alt=""
                          max-width="20"
                          max-height="20"
                          contain
                        />
                        <v-avatar size="20" color="black" v-else>
                          <span style="color: white;">{{
                            item.name.charAt(0)
                          }}</span>
                        </v-avatar>
                      </v-list-item-icon>
                      <!-- </v-avatar> -->
                      {{ item.name }}
                    </v-list-item>
                  </template>
                  <template v-slot:selection="{ on, attrs, item }">
                    <v-list-item v-bind="attrs" v-on="on" dark dense>
                      <!-- <v-avatar color="black"> -->
                      <v-list-item-icon>
                        <v-icon color="white" v-if="item.icon">
                          {{ item.icon }}
                        </v-icon>
                        <v-img
                          v-else-if="item.img"
                          :src="item.img"
                          alt=""
                          max-width="20"
                          max-height="20"
                          contain
                        />
                        <v-avatar size="20" color="white" v-else>
                          <span style="color: black;">{{
                            item.name.charAt(0)
                          }}</span>
                        </v-avatar>
                      </v-list-item-icon>
                      {{ item.name }}
                    </v-list-item>
                  </template>
                </v-overflow-btn>
              </v-col>
            </v-row>
            <span v-else>{{ item.title }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row dense>
                <v-col v-for="(prop, j) in item.properties" :key="j" cols="6">
                  <v-card outlined>
                    <v-card-title>
                      <v-row
                        dense
                        v-if="
                          prop.checked !== undefined || prop.exact !== undefined
                        "
                      >
                        <v-col cols="9"> {{ prop.title }} </v-col>
                        <v-col cols="3">
                          <v-switch
                            v-if="prop.checked !== undefined"
                            class="no-marg-top"
                            v-model="prop.checked"
                            @click="
                              updateChecked(
                                j,
                                item.properties,
                                prop.checked,
                                item.title
                              )
                            "
                            dense
                            :hide-details="true"
                            :color="item.color"
                          />
                          <ExactWeight
                            v-else
                            :weight="prop.exact"
                            @update-exact="
                              updateExact(
                                j,
                                item.properties,
                                $event,
                                item.title
                              )
                            "
                          />
                        </v-col>
                      </v-row>
                      <span v-else>{{ prop.title }}</span>
                    </v-card-title>
                    <v-card-subtitle
                      v-if="prop.frequency"
                      class="font-italic text-caption"
                    >
                      {{ prop.frequency }}
                    </v-card-subtitle>

                    <v-card-text v-if="prop.text">
                      {{ prop.text }}
                    </v-card-text>

                    <v-divider v-if="prop.text && prop.length" class="mx-4" />

                    <v-card-text class="no-btm-padding" v-if="prop.length">
                      <v-rating
                        :length="prop.length"
                        readonly
                        :value="
                          prop.exact ? prop.exact / foodConsump : prop.value
                        "
                        dense
                        large
                        half-increments
                        class="wrap-rating"
                        background-color="grey lighten-3"
                        color="green"
                        empty-icon="mdi-checkbox-blank-outline"
                        half-icon="mdi-texture-box"
                        full-icon="mdi-checkbox-blank"
                      >
                      </v-rating>
                    </v-card-text>

                    <v-card-text v-if="prop.properties">
                      <v-card
                        outlined
                        v-for="(nprop, k) in prop.properties"
                        :key="k"
                        :disabled="!prop.checked"
                        :color="item.color"
                        light
                      >
                        <v-card-title>
                          <v-row dense v-if="nprop.checked !== undefined">
                            <v-col cols="9"> {{ nprop.title }} </v-col>
                            <v-col cols="3">
                              <v-switch
                                class="no-marg-top"
                                v-model="nprop.checked"
                                @click="
                                  updateNestedChecked(
                                    j,
                                    k,
                                    item.properties,
                                    nprop.checked,
                                    item.title
                                  )
                                "
                                dense
                                :hide-details="true"
                                color="black"
                              />
                            </v-col>
                          </v-row>
                          <span v-else>{{ nprop.title }}</span>
                        </v-card-title>

                        <v-card-subtitle
                          v-if="nprop.frequency"
                          class="font-italic text-caption"
                        >
                          {{ nprop.frequency }}
                        </v-card-subtitle>

                        <v-card-text>
                          {{ nprop.text }}
                        </v-card-text>
                      </v-card>
                    </v-card-text>

                    <v-card-actions v-if="prop.length">
                      <v-spacer />
                      <v-btn
                        icon
                        color="error"
                        :disabled="
                          prop.value <= 0 || prop.exact - foodConsump < 0
                        "
                        @click="
                          prop.value !== undefined
                            ? updateValue(
                                j,
                                item.properties,
                                prop.value - 1,
                                item.title
                              )
                            : updateExact(
                                j,
                                item.properties,
                                prop.exact - foodConsump,
                                item.title
                              )
                        "
                      >
                        <v-icon>mdi-minus</v-icon>
                      </v-btn>
                      <v-btn
                        icon
                        color="success"
                        :disabled="prop.value >= prop.length"
                        @click="
                          prop.value !== undefined
                            ? updateValue(
                                j,
                                item.properties,
                                prop.value + 1,
                                item.title
                              )
                            : updateExact(
                                j,
                                item.properties,
                                prop.exact + foodConsump,
                                item.title
                              )
                        "
                      >
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { db } from "@/db";
import ExactWeight from "@/components/ExactWeight";

export default {
  name: "Card",
  components: { ExactWeight },
  props: {
    collection: String,
    items: Array,
  },
  data() {
    return {
      foodConsump: 8,
      players: [
        {
          name: "Assigned to nobody",
          icon: "mdi-account-circle",
        },
        {
          name: "Kellen 'Nackle' Cloak",
          img: "https://jondsloo.solidcommunity.net/public/KellenToken.png",
        },
        {
          name: "Tordek Torunn",
        },
        {
          name: "Belorfir",
        },
        {
          name: "Jay Locker",
        },
      ],
    };
  },
  methods: {
    updateAssigned(newValue, id) {
      if (typeof newValue !== "string") return;

      db.collection(this.collection)
        .doc(id)
        .update({ assigned: newValue })
        .then(() => {
          this.$emit("notification", {
            type: "success",
            message: "Properties succesfully updated",
          });
        })
        .catch(() => {
          this.$emit("notification", {
            type: "error",
            message: "Error while updating the properties",
          });
        });
    },
    updateExact(index, props, newValue, id) {
      if (newValue < 0) return;

      props[index].exact = newValue;
      this.updateTrack(id, props);
    },
    updateValue(index, props, newValue, id) {
      if (newValue < 0 || props[index].value > props[index].length) return;

      props[index].value = newValue;
      this.updateTrack(id, props);
    },
    updateChecked(index, props, newValue, id) {
      if (newValue !== false && newValue !== true) return;

      props[index].checked = newValue;
      this.updateTrack(id, props);
    },
    updateNestedChecked(index, nIndex, props, newValue, id) {
      if (newValue !== false && newValue !== true) return;

      props[index].properties[nIndex].checked = newValue;
      this.updateTrack(id, props);
    },
    updateTrack(id, newProps) {
      db.collection(this.collection)
        .doc(id)
        .update({ properties: newProps })
        .then(() => {
          this.$emit("notification", {
            type: "success",
            message: "Properties succesfully updated",
          });
        })
        .catch(() => {
          this.$emit("notification", {
            type: "error",
            message: "Error while updating the properties",
          });
        });
    },
    nestedCardColor(itemColor) {
      return `${itemColor} darken-1`;
    },
  },
  computed: {
    cardWidth() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "250px";
        case "sm":
          return "350px";
        case "md":
          return "300px";
        case "lg":
          return "600px";
        case "xl":
          return "800px";
        default:
          return null;
      }
    },
  },
};
</script>
<style lang="css" scoped>
.wrap-rating {
  white-space: normal !important;
}

.no-marg-top {
  margin-top: 0 !important;
}

.no-btm-padding {
  padding-bottom: 0 !important;
}
</style>
