<template>
  <div class="text-center">
    <v-dialog v-model="dialog" max-width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="reset-button"
          color="success"
          outlined
          small
          v-bind="attrs"
          v-on="on"
        >
          {{ weight }} lbs
          <v-icon right small>
            mdi-border-color
          </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">
          Modify the exact weight
        </v-card-title>

        <v-card-text>
          <v-text-field
            label="Weight"
            v-model.number="newWeight"
            type="number"
            suffix="lbs"
          ></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="error darken-1" text @click="resolve(false)">
            Cancel
          </v-btn>

          <v-btn color="success darken-1" text @click="resolve(true)">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "ExactWeight",
  props: { weight: Number },
  data() {
    return {
      dialog: false,
      newWeight: this.weight,
    };
  },
  methods: {
    resolve(success) {
      this.dialog = false;

      if (success) {
        this.$emit("update-exact", this.newWeight);
      }

      this.newWeight = this.weight;
    },
  },
  watch: {
    weight(newWeight) {
      this.newWeight = newWeight;
    },
  },
};
</script>

<style></style>
