<template>
  <v-navigation-drawer permanent app>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="title">
          Tocht door het donker
        </v-list-item-title>
        <v-list-item-subtitle>
          An OotA adventure
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense nav flat>
      <v-list-item
        :disabled="item.disabled"
        :color="item.disabled ? 'disabled' : 'success'"
        v-for="(item, i) in items"
        :key="i"
        :to="item.href"
        link
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="pa-2">
        <v-fab-transition>
          <v-btn
            block
            color="success"
            v-show="selectedItem"
            href="https://docs.google.com/document/d/19_9zrxArn9bgWlKitr_uSYsID5mJ6ZahC2t2zScNEp4/edit"
            target="_blank"
          >
            Rules
          </v-btn>
        </v-fab-transition>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "NavDrawer",
  data() {
    return {
      items: [
        {
          title: "Dashboard",
          icon: "mdi-view-dashboard",
          href: "dashboard",
          disabled: false,
        },
        {
          title: "Party",
          icon: "mdi-account-multiple",
          href: "/",
          disabled: true,
        },
        { title: "NPC's", icon: "mdi-help-box", href: "npcs", disabled: false },
      ],
    };
  },
  computed: {
    selectedItem() {
      return this.$route.name === "Npcs";
    },
  },
};
</script>

<style></style>
