<template>
  <div class="text-center">
    <v-snackbar
      :value="snackbar"
      @input="$emit('close')"
      :timeout="timeout"
      dense
      outlined
      :color="type"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="$emit('close')" :color="type">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  props: {
    snackbar: Boolean,
    text: String,
    type: String,
  },
  data: () => ({
    timeout: 2000,
  }),
};
</script>
