<template>
  <v-app>
    <NavDrawer />
    <v-main>
      <transition name="fade" mode="out-in">
        <router-view
          @notification="
            snackbar = true;
            text = $event.message;
            type = $event.type;
          "
        />
      </transition>
    </v-main>
    <v-footer>
      <Snackbar
        :snackbar="snackbar"
        :text="text"
        :type="type"
        @close="snackbar = false"
      />
    </v-footer>
  </v-app>
</template>
<script>
import NavDrawer from "./components/NavDrawer";
import Snackbar from "./components/Snackbar";

export default {
  name: "App",
  components: { NavDrawer, Snackbar },
  data() {
    return {
      snackbar: false,
      text: "",
      type: "",
    };
  },
};
</script>
<style>
.navbar {
  margin: 0;
  padding: 0 2% 0 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
